/* .windowHDMapOverlay{
    position: absolute;
    background-color: white;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50%;
    min-width: 280px;
  } */
  .windowHDMapOverlay{
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
  }
  .windowHDMapOverlay:after, .windowHDMapOverlay:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .windowHDMapOverlay:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .windowHDMapOverlay:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .tableContainer{
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 10px;
    border: 1px solid #cccccc;
    min-width: 280px;
    margin-bottom: 10px;
  }
  .tableContainer:after, .tableContainer:before {
    top: calc(100% - 10px);
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  .tableContainer:after {
    border-top-color: white;
    border-width: 10px;
    left: calc(50% - 10px);
    /* margin-left: -10px; */
  }
  .tableContainer:before {
    border-top-color: #cccccc;
    border-width: 10px;
    left: calc(50% - 10px);
    /* margin-left: -11px; */
  }

  .windowHDMapOverlay-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .windowHDMapOverlay-closer:after {
    content: "✖";
  }